#nav {
	width: 100%;
	float: left;
	margin: 0;
	padding: 10px;
	list-style: none; 
	background-color: #2e4a62;
}

#nav li {
	float: left; 
}

#nav li a {
		display: block;
    color: white;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		border-right: 1px solid #ccc; 
}

.element {
	text-align: center;
}

