@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: black;
}

body {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 1em;
}

input {
  border: 1px solid rgb(0, 0, 0);
  border-radius: .25em;
  padding: .6rem;
  width: 15em;
}
  
select {
  margin: 0 0 0 1em;
  border-radius: .25em;
}

.test {
  font-size: 2rem;
  padding-right: 2rem;
}