@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: #cddbe7 !important;
}


