@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

body {
  background-color: #f3f3f3;;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;   
}

/* Nav Bar */
.title {
  text-align: center;
}

#nav {
  width: 100%;
  padding: 10px;
  z-index: 100;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 1rem;
  padding-right: 1.2em;
}

.nav__link:link,
.nav__link:visited {
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.divider {
  display: inline-block;
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
  height: 1em;
}

@media screen and (max-width: 500px) {
  .nav__links  {
    margin: auto;

  }
  .title {
    margin: auto;
  }
  * {
    font-size: 15px;
  }
}

/* Container */
.exchange {
  outline: 1px solid black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}

@media screen and (min-width: 500px) {
.exchange {
  border-radius: 2em;
}
}

/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.badge {
  margin-right: 10px;
  font-weight: 400;
}